<div class="my-3 mx-auto p-3 shadow rounded" style="width: 85%;">
  <h1 class="text-center pb-3 font-weight-bold">Hôtel 1</h1>

  <div class="pb-5 border-bottom pt-5 border-top border-dark">
    <h3 class="text-center">ARBRE</h3>
  </div>

  <form class="mt-5 pb-5 border-bottom border-dark">
    <div class="mb-3">
      <label for="avisTextArea" class="form-label">Donner votre avis</label>
      <textarea class="form-control w-75" id="avisTextArea" rows="3" placeholder="La chambre est très confortable..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>

  <div class="mt-5">
    <h4 class="mb-3">Avis laissés pour cet hôtel</h4>
    <ul class="w-75 mx-auto list-group list-group-flush">
      <li class="list-group-item mt-3">
        <p class="text-success">Utilisateur 1452 :</p>
        "The club isn't the best place to find a lover, so the bar is where I go.
      </li>
      <li class="list-group-item mt-3">
        <p class="text-success">Utilisateur 74 :</p>
        "Me and my friends at the table doing shots, drinking faster and then we talk slow.
      </li>
      <li class="list-group-item mt-3">
        <p class="text-success">Utilisateur 23 :</p>
        "Come over and start up a conversation with just me and trust me I'll give it a chance now. Take my hand, stop ! Put Van The Man on the jukebox and then we start to dance and now I'm singing like.
      </li>
    </ul>
  </div>

</div>
