<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <a class='navbar-brand' routerLink="/genres">AvisHotel</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class='navbar-nav mr-auto'>

      <li class='nav-item'>
        <a class='nav-link' routerLink="hotels">Listes des hotels</a>
      </li>
      <li *ngIf="role$.getValue() != ''" class='nav-item'>
        <a class='nav-link' routerLink="avis">Vos avis</a>
      </li>
      <li *ngIf="role$.getValue() == 'Owner'" class='nav-item'>
        <a class='nav-link' routerLink="own-hotels">Vos hôtels</a>
      </li>
      <li *ngIf="role$.getValue() == 'Administrator'" class='nav-item'>
        <a class='nav-link' routerLink="gestion">Gestionnaire d'avis</a>
      </li>
      <li *ngIf="role$.getValue() == 'Administrator'" class='nav-item'>
        <a class='nav-link' routerLink="membres">Listes des membres</a>
      </li>
    </ul>

    <form *ngIf='!isAuth.getValue()' class='form-inline my-2 my-lg-0' >
      <a class='btn btn-info mr-2' routerLink='membres/inscription' role='button'>S'inscrire</a>
      <a class='btn btn-light' routerLink='membres/connexion' role='button'>Se connecter</a>
    </form>
    <form *ngIf='isAuth.getValue()' class='form-inline my-2 my-lg-0' >
      <a class='btn btn-light' (click)='onLogout()' role='button'>Se déconnecter ({{ auth.memberId }})</a>
    </form>
  </div>
</nav>
