<div>

  <div class="container mt-3 border-bottom">
    <div class="row">
      <div class="col-sm">
        Pseudo
      </div>
      <div class="col-sm">
        Mail
      </div>
      <div class="col-sm">
        Rôle
      </div>
      <div class="col-sm">
        <button class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>

  <div class="container mt-3 border-bottom">
    <div class="row">
      <div class="col-sm">
        Pseudo
      </div>
      <div class="col-sm">
        Mail
      </div>
      <div class="col-sm">
        Rôle
      </div>
      <div class="col-sm">
        <button class="btn btn-danger align-middle">Supprimer</button>
      </div>
    </div>
  </div>

  <div class="container mt-3 border-bottom">
    <div class="row">
      <div class="col-sm">
        Pseudo
      </div>
      <div class="col-sm">
        Mail
      </div>
      <div class="col-sm">
        Rôle
      </div>
      <div class="col-sm">
        <button class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>

  <div class="container mt-3 border-bottom">
    <div class="row">
      <div class="col-sm">
        Pseudo
      </div>
      <div class="col-sm">
        Mail
      </div>
      <div class="col-sm">
        Rôle
      </div>
      <div class="col-sm">
        <button class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>

  <div class="container mt-3 border-bottom">
    <div class="row">
      <div class="col-sm">
        Pseudo
      </div>
      <div class="col-sm">
        Mail
      </div>
      <div class="col-sm">
        Rôle
      </div>
      <div class="col-sm">
        <button class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>

  <div class="container mt-3 border-bottom">
    <div class="row">
      <div class="col-sm">
        Pseudo
      </div>
      <div class="col-sm">
        Mail
      </div>
      <div class="col-sm">
        Rôle
      </div>
      <div class="col-sm">
        <button class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>



</div>
