<div class="mt-5 w-50 mx-auto border border-5 rounded shadow">
  <div class="p-3">
    <p class="text-center font-weight-bolder">Inscription</p>
<!--    (ngSubmit)="onSubmit()" #inscriptionForm="ngForm"-->
    <form [formGroup]="signupForm">
      <div class="mb-3">
        <label class="form-label">Nom</label>
        <input class="form-control" type="text" placeholder="Votre nom..." aria-label="default input example"
               required formControlName="lastname" name="lastname">
<!--        [(ngModel)]="user['lastname']"-->
      </div>
      <div class="mb-3">
        <label class="form-label">Prénom</label>
        <input class="form-control" type="text" placeholder="Votre prénom..." aria-label="default input example"
               required formControlName="firstname" name="firstname">
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Adresse mail</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Votre adresse mail..."
               aria-describedby="emailHelp" required formControlName="email" name="email">
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="inputPassword" required
               formControlName="password" name="password">
      </div>
      <div class="mb-3">
        <label for="inputRole" class="form-label">Vous êtes un(e)</label>
        <select id="inputRole" class="form-select" aria-label="Default select example" formControlName="role" class="ml-1">
          <option selected></option>
          <option value="Client">Client(e)</option>
          <option value="Owner">Gérant(e)</option>
        </select>
      </div>

<!--      <div class="mb-3">-->
<!--        <label class="form-label">Vous êtes</label>-->
<!--        <br>-->
<!--        <div class="form-check form-check-inline">-->
<!--          <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioClient" formControlName="role">-->
<!--          <label class="form-check-label" for="radioClient">-->
<!--            Client(e)-->
<!--          </label>-->
<!--        </div>-->
<!--        <div class="form-check form-check-inline">-->
<!--          <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioGerant" formControlName="role">-->
<!--          <label class="form-check-label" for="radioGerant">-->
<!--            Gérant(e) d'un hôtel-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->

      <button type="submit" class="btn btn-primary mx-auto" (click)="onSignup()">S'inscrire</button>
    </form>
  </div>

  <p> {{errorMessage}} </p>
</div>
