<div class="mt-5 w-50 mx-auto border border-5 rounded shadow">
  <div>
    <div class="mb-3">
      <p class="h5">Pour les gérant(e)s :</p>
      <label class="form-label">Nom de l'hôtel :</label>
      <input class="form-control" type="text" placeholder="La case à Bibiche" aria-label="default input example"
           required [(ngModel)]="hotel['name']" name="name">
      <label class="form-label">Adresse :</label>
      <input class="form-control" type="text" placeholder="69 avenue de la joix" aria-label="default input example"
           required [(ngModel)]="hotel['adress']" name="adress">
      <label class="form-label">Complément d'adresse :</label>
      <input class="form-control" type="text" placeholder="Bâtiment de la liberté" aria-label="default input example"
           required [(ngModel)]="hotel['adressComplement']" name="adressComplement">
      <label class="form-label">Ville :</label>
      <input class="form-control" type="text" placeholder="Cactus City" aria-label="default input example"
           required [(ngModel)]="hotel['city']" name="city">
  </div>

</div>
</div>
