<div class="row row-cols-1 row-cols-md-5 g-4">

  <div class="col my-2" *ngFor="let hotel of hotels">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ hotel.name }}</h5>
        <p class="card-text"><small class="text-muted">{{ hotel.city }}</small></p>
        <p class="card-text">{{ hotel.description }}</p>
      </div>
      <div class="card-footer w-100  mx-auto">
        <button (click)="onHotelClicked(hotel._id)" type="button" class="btn btn-info">Voir les infos</button>
      </div>
    </div>
  </div>
<!-- routerLink="/hotel" -->
</div>
