<div class="my-3">

  <div class="container">

    <div *ngFor="let opinion of opinions" class="row py-2 border rounded mb-3 bg-light">
      <div class="col-3 text-center my-auto">{{ opinion.writer }}</div>
      <div class="col-5 border-left border-right">"{{ opinion.text }}"</div>
      <div class="col-2 w-100 border-right text-center my-auto">
        <button type="button" class="btn btn-success" (click)="valideOpinion(opinion)">Valider</button>
      </div>
      <div class="col-2 w-100 text-center my-auto"><button class="btn btn-danger" (click)="deleteOpinion(opinion)">Supprimer</button></div>
    </div>

  </div>

</div>
